body
{
	text-align: center;
}

#students-first-menu
{
	width: 958px;
	height: 123px;
	width: 100%;
	background-image: url("https://raw.github.com/MosheBerman/StudentsFirst/master/images/header.png");
	background-repeat: no-repeat;
	margin: 0px auto;
}

#students-first-menu a
{
	text-decoration: none;
	margin: 5px 10px;
	color: #ccc;
	float: right;
	margin-bottom: 5px;
}

#students-first-menu a:hover
{
	color: #fff;
}